$min-width: 320px;
$max-width: 1920px;
$max-width-container: 1440px;
$mq1: $max-width-container;
$mq2: 1024px;
$mq3: 768px;
$mq4: 420px;

$color-primary: #61DAFB;
$color-additional: #FAC863;
$color-background: #282C34;
$color-disabled: #4f5258;
$color-light: #FFFFFF; 
$color-dark: #20232A;

$font1: 3rem;
$font2: 2rem;
$font3: 1.5rem;
$font4: 1.2rem;
$font5: 1rem;